@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/inter-400.woff2) format('woff2');
  font-display: swap;
}


@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/inter-700.woff2) format('woff2');
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url(../fonts/inter-900.woff2) format('woff2');
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 22px;
  background-color: #FEAFC3;
  color: #2D3440;
}

h2 {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Navigation */

.navigation {
  display: flex;
  width: 1170px;
  margin: 0 auto;
  align-items: center;
}

.navigation-list {
  padding: 0;
  margin: 0;
}

.navigation-list a {
  text-decoration: none;
  color: inherit;
}

.navigation-phone-link {
  font-weight: bold;
}

.navigation-list li,
.navigation-user li {
  list-style: none;
}

.navigation-link {
  padding: 8px 16px;

}

.navigation-link:hover {
  background: rgba(252, 252, 252, 0.5);
  border-radius: 30px;
}

.navigation-list {
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
}

.navigation-user {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.page-logo {
  display: block;
}


/* buttons */
.button {
  display: inline-block;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: inherit;
  text-decoration: none;
  padding: 12px 32px;
  background-color: #FCFCFC;
  outline: 4px solid rgba(252, 252, 252, 0.4);
  border-radius: 26px;
  border: none;
}

.special-button {
  background: #FF2F64;
  color: #FCFCFC;
  outline: 4px solid rgba(255, 47, 100, 0.3);
}

.form-button {
  font-size: 14px;
  line-height: 20px;
  background: rgba(252, 252, 252, 0.3);
  border: 2px solid #FCFCFC;
  border-radius: 20px;
  padding: 8px 50px;
  outline: none;
}

/* Main */

.main-container {
  flex-grow: 1;
}

.page-container {
  width: 1170px;
  margin: 0 auto;
}

/* section .slider */

.slider-block {
  padding: 0;
  margin: 0;
}

.slider-item {
  display: grid;
  grid-template-columns: 500px 2fr;
  align-items: center;
  padding-left: 70px;
}


.slider-block li:not(.active-slide) {
  display: none;
}

.slider-item-title {
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;

}

.slider-item p {
  font-size: 18px;
  line-height: 24px;
  width: 430px;
  margin-bottom: 38px;
}

.slider-block {
  list-style: none;
}


.slider-pagination {
  list-style: none;
  display: flex;
  gap: 8px;
  margin: 0;
  padding: 0;
}

.slider-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slider-pagination-button {
  width: 12px;
  height: 12px;
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 100px;
  border: none;
  cursor: pointer;

}

.slider-pagination-button-current {
  background-color: rgba(252, 252, 252);
}

.social-list {
  list-style: none;
  display: flex;
  gap: 12px;
}

.social-button {
  width: 28px;
  height: 28px;
  display: block;
}

.social-button-tg {
  background-image: url(../img/icons/social-telegram.svg);
}

.social-button-vk {
  background-image: url(../img/icons/social-vk.svg);
}

.social-button-you {
  background-image: url(../img/icons/social-youtube.svg);
}


/* section .special */

.special {
  margin-bottom: 80px;
}

.special-title {
  text-align: center;
  width: 470px;
  margin: 0 auto;
  margin-bottom: 55px;
  margin-top: 80px;
}

.special-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.special-item {
  background-color: #FF7799;
  border-radius: 16px;
  width: 570px;
  display: flex;
}

.special-item-title {
  font-size: 24px;
  line-height: 30px;
}

.special-item-text {
  padding-left: 35px;
  padding-top: 15px;
}

.special-item-info {
  margin-bottom: 28px;
}

/* section .products */

.products {
  margin-bottom: 80px;
}

.product-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.product-item {
  background: #FCFCFC;
  border-radius: 8px;
}

.product-subtitle {
  font-size: 20px;
  line-height: 24px;
}

.product-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.product-item {
  width: 270px;
  text-align: center;
  margin-bottom: 40px;
}

.product-title {
  width: 527px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 40px;
}

.product-price {
  font-size: 20px;
  line-height: 24px;
}

/* section .advantages */

.advantages {
  margin-bottom: 80px;
}

.advantages-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.advantages-item {
  width: 450px;
  padding-bottom: 40px;
  margin-right: 40px;
}

.advantages-wrapper {
  background: url(../img/bg-advantages.png);
  padding: 24px;
}

.advantages-text-wrapper {
  background: #FFFFFF;
  border-radius: 16px;
}

.advantages-title {
  margin: 0 auto;
  text-align: center;
  padding-bottom: 36px;
  padding-top: 45px;
}

/* section .blog */

.blog {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}

.blog-news {
  width: 570px;
  padding-left: 32px;
  padding-top: 32px;
  background: url(../img/bg-block.jpg) no-repeat;
  border-radius: 16px;
}

.blog-title {
  width: 303px;
}

.blog-news-form {
  width: 570px;
  padding: 15px;
  margin-left: 15px;
  background: #FFFFFF;
  border-radius: 16px;
}

.field {
  height: 45px;
  width: 300px;
  margin-right: 15px;
}

.blog-title {
  font-size: 24px;
  line-height: 30px;
}

.blog-news a {
  text-decoration: none;
  color: inherit;
}

/* section .delivery */

.delivery {
  display: flex;
  justify-content: space-around;
  background: url(../img/bg-delivery.jpg) no-repeat;
  border-radius: 16px;
  margin-bottom: 80px;
  align-items: center;
}

.delivery-block {
  width: 400px;
  padding: 55px;
}

.delivery-block-title {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
}

.form-wrapper {
  padding: 64px;
}

.delivery-form {
  width: 500px;
  background-color: #FCFCFC;
  padding: 40px;
  box-sizing: border-box;
}

.delivery-form input[type="text"] {
  height: 48px;
  width: 117px;
  font: inherit;
}



/* section .contacts */

.contact-address {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.phone-calls-special {
  font-size: 14px;
  line-height: 20px;
}

.address {
  background: url(../img/bg-contact-form.jpg) no-repeat;
  border-radius: 16px;
  padding: 60px;
}

.contacts {
  width: 280px;
  background-color: #FCFCFC;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0px 8px 16px rgba(45, 52, 64, 0.12);
}

.address-info {
  width: 180px;
}

.phone-calls {
  color: inherit;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
}

.phone-calls-special {
  margin-top: 0;
  margin-bottom: 32px;
}

/* footer */

.footer-links {
  list-style: none;
  font-size: 14px;
  line-height: 20px;
}

.link-special::before {
  content: url(../img/icons/heart.svg);
  margin-right: 9px;
}

.footer-links a {
  color: inherit;
  text-decoration: none;
}

.creators-info {
  font-size: 12px;
  line-height: 16px;
}

.creators-info a {
  color: inherit;
}

/* Catalog */

.breadcrumbs {
  list-style: none;
}

.breadcrumbs a {
  text-decoration: none;
  color: inherit;
}

.active-link {
  border-bottom: 1px solid #2D3440;
}

form {
  font-size: 14px;
  line-height: 20px;

}

fieldset {
  border: none;
}

fieldset select,
fieldset ul {
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 20px;
  padding: 8px 16px;
  border: none;
}

.catalog-filter ul {
  list-style: none;
}

.pagination {
  list-style: none;
}

.pagination-link {
  text-decoration: none;
  color: inherit;
  padding: 2px 8px;
}

.pagination-current {
  background: #FCFCFC;
  border-radius: 50px;
}

.sub-menu {
  display: none;
}

.page-footer {
  width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.creators img {
  display: block;
}
