@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/inter-400.woff2) format('woff2');
  font-display: swap;
}


@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/inter-700.woff2) format('woff2');
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url(../fonts/inter-900.woff2) format('woff2');
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 22px;
  background-color: #FEAFC3;
  color: #2D3440;
}

h2 {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header-container {
  width: 1170px;
  margin: 0 auto;
}

/* Navigation */

.navigation {
  padding: 20px 0 20px 0;
  background: #FEAFC3;
}

.navigation-list {
  padding: 0;
  margin: 0;
  margin-left: 16px;
  list-style: none;
  width: 470px;
  display: flex;
  flex-wrap: wrap;
}

.navigation-item {
  padding-bottom: 5px;
}

.navigation-list > .navigation-item:first-child {
  padding-right: 37px;
}

.navigation-link,
.navigation-user-link {
  padding: 8px 16px;
  display: block;
  text-decoration: none;
  color: inherit;
  position: relative;
}

.navigation-phone-link {
  font-weight: bold;
}

.navigation-link:hover {
  background: rgba(252, 252, 252, 0.5);
  border-radius: 30px;
}

.navigation-link:active {
  background: #FCFCFC;
  border: none;
}

.navigation-link:focus {
  background: rgba(252, 252, 252, 0.5);
  outline: 2px solid #2D3440;
  border-radius: 30px;
  border: none;
}

.main-nav-wrapper {
  display: flex;
  align-items: center;
}

.navigation-user {
  list-style: none;
  margin: 0;
  padding: 0;
  max-width: 470px;
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  align-items: center;
  justify-content: flex-end;
}

.catalog-link {
  position: relative;
  margin-right: -25px;
  padding-right: 25px;
}

.catalog-link::after {
  content: "";
  position: absolute;
  top: 10px;
  right: 4px;
  width: 16px;
  height: 17px;
  background-image: url(../img/icons/arrow-down.svg);
}

.link-special {
  margin-left: -25px;
  padding-left: 25px;
  position: relative;
}

.main-menu {
  padding-bottom: 8px;
}

.link-special::before {
  position: absolute;
  left: 0;
  top: 1px;
  content: url(../img/icons/heart.svg);
  width: 14px;
  height: 14px;
}

.main-menu:hover .sub-menu {
  display: flex;
  flex-direction: column;
}

.sub-menu {
  padding: 10px;
  margin: 0;
  display: none;
  position: absolute;
  background: #FCFCFC;
  border-radius: 4px;
  list-style: none;
  margin-top: 8px;
  max-width: 135px;
}

.sub-menu-link {
  font-size: 14px;
  line-height: 20px;
  display: block;
  text-decoration: none;
  color: inherit;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 6px;
  padding-bottom: 6px;
}

.active-catalog-link {
  position: relative;
  font-weight: bold;
  margin-bottom: 10px;
}

.active-catalog-link::after {
  position: absolute;
  left: 5px;
  top: 22px;
  content: url(../img/icons/sub-menu-line.svg);
  width: 104px;
  height: 1px;
}

.sub-menu-link:hover {
  background: #FFCBD8;
}

.sub-menu-link:active {
  background: #FF7799;
}



/* Navigation Icons */


.navigation-icon {
  position: absolute;
  fill: #2D3440;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;

}

.navigation-link-login {
  padding-left: 44px;
  font-size: 14px;
  line-height: 20px;
  background: rgba(252, 252, 252, 0.3);
  border-radius: 30px;
}

.navigation-link-login:first-child {
  margin-right: 16px;
}

.navigation-search-link {
  background: rgba(252, 252, 252, 0.3);
  border-radius: 30px;
  margin-right: 16px;
  padding: 16px;

}

.navigation-link-login .navigation-icon {
  right: auto;
  left: 20px;
  margin: auto 0;
}

/* Buttons */

.button {
  display: inline-block;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: inherit;
  text-decoration: none;
  padding: 12px 32px;
  background-color: #FCFCFC;
  outline: 4px solid rgba(252, 252, 252, 0.4);
  border-radius: 26px;
  border: none;
}

.special-button {
  background: #FF2F64;
  color: #FCFCFC;
  outline: 4px solid rgba(255, 47, 100, 0.3);
}

.form-button {
  font-size: 14px;
  line-height: 20px;
  background: rgba(252, 252, 252, 0.3);
  border: 2px solid #FCFCFC;
  border-radius: 20px;
  padding: 8px 50px;
  outline: none;
}

.button:hover {
  background-color: rgba(252, 252, 252, 0.4);
  outline: 4px solid #FCFCFC;
}

.button:active {
  background-color: #FCFCFC;
  outline: 2px solid #2D3440;
}

.button:focus {
  background-color: rgba(252, 252, 252, 0.5);
  outline: 2px solid #2D3440;
}

.button:disabled {
  background: #E7E7E7;
  outline: 4px solid rgba(252, 252, 252, 0.4);
}

.special-button:hover {
  background: rgba(252, 252, 252, 0.3);
  outline: 4px solid #FF2F64;
  color: #2D3440;
}

/* Main */

.main-container {
  flex-grow: 1;
}

.page-container {
  width: 1170px;
  margin: 0 auto;
}

/* section .slider */

.slider-block {
  padding: 0;
  margin: 0;
}

.slider-item {
  display: grid;
  grid-template-columns: 470px 348px 282px;
  align-items: center;
  padding-left: 70px;
}

.slider-block li:not(.active-slide) {
  display: none;
}

.slider-item-title {
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
}

.slider-item p {
  font-size: 18px;
  line-height: 24px;
  width: 430px;
  margin-bottom: 38px;
}

.slider-block {
  list-style: none;
}


/* Slider Button */

.slider-button {
  padding: 18px;
  background:rgba(252, 252, 252, 0.3);
  border-radius: 26px;
  border: 2px solid #FCFCFC;
  cursor: pointer;
  position: relative;
}

.slider-button-icon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  fill: #FCFCFC;
}

.slider-next {
  transform: rotate(180deg);
}

.slider-button:hover .slider-button-icon {
  fill: #2D3440;
}

.slider-button:hover {
  background-color: #FFFFFF;
}

.slider-button:active {
  background: rgba(252, 252, 252, 0.5);
  border: 2px solid rgba(252, 252, 252, 0.1)
}

.slider-button:active .slider-button-icon {
  fill: #2D3440;
}

.slider-button:focus {
  border: 2px solid #2D3440;
  outline: none;
}

.slider-button:focus .slider-button-icon {
  fill: #2D3440;
}

.slider-button:disabled {
  background: rgba(252, 252, 252, 0.3);
  border: 2px solid rgba(252, 252, 252, 0.5);
}

.slider-button:disabled .slider-button-icon {
  fill: rgba(252, 252, 252, 0.5)
}

.slider-pagination {
  list-style: none;
  display: flex;
  gap: 8px;
  margin: 0;
  padding: 0;
}

.slider-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slider-pagination-button {
  width: 12px;
  height: 12px;
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.slider-pagination-button-current {
  background-color: rgba(252, 252, 252);
}

.slider-pagination-button:hover {
  outline: 1px solid #FCFCFC;
}

.slider-pagination-button:active {
  background: #FCFCFC;
}

.slider-image {
  display: block;
  padding: 21px;
  padding-bottom: 26px;
  border: 1px solid red;
}

.slider-image::after {

}

.slider-wrapper {
  position: relative;
}


.slider-controls {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  border: 1px solid red;
}


.social-list {
  list-style: none;
  display: flex;
  gap: 12px;
}

.social-button {
  width: 28px;
  height: 28px;
  display: block;
}

.social-button-tg {
  background-image: url(../img/icons/social-telegram.svg);
}

.social-button-vk {
  background-image: url(../img/icons/social-vk.svg);
}

.social-button-you {
  background-image: url(../img/icons/social-youtube.svg);
}


/* section .special */

.special {
  margin-bottom: 80px;
}

.special-title {
  text-align: center;
  width: 420px;
  margin: 0 auto;
  margin-bottom: 50px;
  margin-top: 82px;
}

.special-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
}

.special-item {
  background-color: #FF7799;
  border-radius: 16px;
  width: 565px;
  display: grid;
  grid-template-columns: 351px 219px;
}

.special-item:first-child {
  margin-right: 30px;
}

.special-item-title {
  font-size: 24px;
  line-height: 30px;
}

.special-item-text {
  padding-left: 35px;
  padding-top: 15px;
}

.special-item-info {
  margin-bottom: 28px;
  width: 328px;
}

.special-item-image img {
  vertical-align: middle;
}

/* section .products */

.products {
  margin-top: 40px;
  margin-bottom: 40px;
}

.product-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.product-item {
  background: #FCFCFC;
  border-radius: 8px;

}

.product-subtitle {
  font-size: 20px;
  line-height: 24px;
}

.product-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.product-item {
  width: 270px;
  text-align: center;
  margin-bottom: 40px;
}

.product-title {
  width: 527px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 40px;
}

.product-price {
  font-size: 20px;
  line-height: 24px;
}

/* section .advantages */

.advantages {
  margin-bottom: 80px;
}

.advantages-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.advantages-item {
  width: 450px;
  padding-bottom: 40px;
  padding: 20px;

}

.advantages-wrapper {
  background: url(../img/bg-advantages.png);
  padding: 24px;
}

.advantages-text-wrapper {
  background: #FFFFFF;
  border-radius: 16px;
}

.advantages-title {
  margin: 0 auto;
  text-align: center;
  padding-bottom: 36px;
  padding-top: 45px;
}

/* section .blog */

.blog {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}

.blog-news {
  width: 570px;
  padding-left: 32px;
  padding-top: 32px;
  background: url(../img/bg-block.jpg) no-repeat;
  border-radius: 16px;
}

.blog-title {
  width: 303px;
}

.blog-news-form {
  width: 570px;
  padding: 15px;
  margin-left: 15px;
  background: #FFFFFF;
  border-radius: 16px;

}

.field {
  height: 45px;
  width: 300px;
  margin-right: 15px;
}

.blog-title {
  font-size: 24px;
  line-height: 30px;
}

.blog-news a {
  text-decoration: none;
  color: inherit;
}

/* section .delivery */

.delivery {
  display: flex;
  justify-content: space-around;
  background: url(../img/bg-delivery.jpg) no-repeat;
  border-radius: 16px;
  margin-bottom: 80px;
  align-items: center;
}

.delivery-block {
  width: 400px;
  padding: 55px;
}

.delivery-block-title {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
}

.form-wrapper {
  padding: 64px;
}

.delivery-form {
  width: 500px;
  background-color: #FCFCFC;
  padding: 40px;
  box-sizing: border-box;
}

.delivery-form input[type="text"] {
  height: 48px;
  width: 117px;
  font: inherit;
}



/* section .contacts */

.contact-address {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.phone-calls-special {
  font-size: 14px;
  line-height: 20px;
}

.address {
  background: url(../img/bg-contact-form.jpg) no-repeat;
  border-radius: 16px;
  padding: 60px;
}

.contacts {
  width: 280px;
  background-color: #FCFCFC;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 8px 16px rgba(45, 52, 64, 0.12);
}

.address-info {
  width: 180px;
}

.phone-calls {
  color: inherit;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
}

.phone-calls-special {
  margin-top: 0;
  margin-bottom: 32px;
}

/* footer */

.page-footer-wrapper {
  width: 1170px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid red;
}

.footer-links {
  list-style: none;
  font-size: 14px;
  line-height: 20px;
  flex-wrap: wrap;
}

.link-special {
  margin-left: -25px;
  padding-left: 25px;
  position: relative;
}

.link-special::before {
  position: absolute;
  left: 0;
  top: 1px;
  content: url(../img/icons/heart.svg);
  width: 14px;
  height: 14px;
}

.footer-links a {
  color: inherit;
  text-decoration: none;
}

.creators-info {
  font-size: 12px;
  line-height: 16px;
}

.creators-info a {
  color: inherit;
}








/* Catalog */

.catalog-container {
  width: 1170px;
  margin: 0 auto;
}

/* Breadcrumbs */

.breadcrumbs {
  list-style: none;
}

.breadcrumbs a {
  text-decoration: none;
  color: inherit;
}

.breadcrumbs {
  padding: 0;
  margin: 0;
  display: flex;
  margin-top: 40px;
}

.breadcrumbs-item {
  position: relative;
  margin-right: 28px;
}

.breadcrumbs-item::after {
  content: "";
  position: absolute;
  top: 9px;
  right: -18px;
  width: 7px;
  height: 6px;
  background-image: url(../img/icons/arrow-right.svg);
}

.breadcrumbs-item:last-child::after {
  content: none;
}

.sub-navigation {
  display: flex;
  justify-content: space-between;
}

.pagination {
  display: flex;
}

.active-link {
  border-bottom: 1px solid #2D3440;
}

/* Catalog Form */

form {
  font-size: 14px;
  line-height: 20px;
}

fieldset {
  border: none;
}

fieldset select,
fieldset ul {
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 20px;
  padding: 8px 16px;
  border: none;
}

.catalog-filter ul {
  list-style: none;
}



/* Catalog pagination */

.pagination {
  list-style: none;
}

.pagination-link {
  text-decoration: none;
  color: inherit;
  padding: 2px 8px;
}

.pagination-current {
  background: #FCFCFC;
  border-radius: 50px;
}

.sub-menu {
  display: none;
}



.creators img {
  display: block;
}

.product-list {
  padding: 0;
  margin: 0;
}
