@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/inter-400.woff2) format('woff2');
  font-display: swap;
}


@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/inter-700.woff2) format('woff2');
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url(../fonts/inter-900.woff2) format('woff2');
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #2D3440;
  background-color: #FEAFC3;
}

.page-wrapper {
  z-index: 2;
}

.pink-theme {
  background-color: #FEAFC3;
}

.blue-theme {
  background-color: #69A9FF;
}

.yellow-theme {
  background-color: #FCC850;
}

h2 {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header-container {
  width: 1170px;
  margin: 0 auto;
  padding-bottom: 30px;
  padding-top: 18px;
}

.catalog-container {
  width: 1170px;
  margin: 0 auto;
  padding-top: 12px;
}


/* Navigation */

.navigation-list {
  padding: 0;
  margin: 0;
  margin-left: 16px;
  list-style: none;
  width: 570px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}


.navigation-link {
  padding: 6px 14px;
  display: block;
  text-decoration: none;
  color: inherit;
  position: relative;
  border: 2px solid transparent;
}

.navigation-user-link {
  padding: 6px 10px;
  display: block;
  text-decoration: none;
  color: inherit;
  position: relative;
}

.navigation-phone-link {
  font-weight: bold;
  padding: 6px 15px;
  display: block;
  text-decoration: none;
  color: inherit;
  border: 2px solid transparent;
}

.navigation-phone-link:focus-visible {
  background: rgba(252, 252, 252, 0.5);
  border: 2px solid #2D3440;
  outline: none;
  border-radius: 30px;
  box-sizing: border-box;
}

.navigation-link:hover {
  background: rgba(252, 252, 252, 0.5);
  border-radius: 30px;

}

.navigation-link:active {
  background: #FCFCFC;
}

.navigation-link:focus-visible {
  background: rgba(252, 252, 252, 0.5);
  border: 2px solid #2D3440;
  outline: none;
  border-radius: 30px;
  box-sizing: border-box;
}

.main-nav-wrapper {
  display: flex;
  align-items: center;
}

.navigation-user {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 470px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
}

.catalog-link {
  display: flex;
  align-items: center;
}

.catalog-icon {
  fill: #2D3440;
  padding-left: 8px;
}

.current-catalog-link {
  background: #FF4A78;
  color: #FCFCFC;
  border-radius: 30px;
}

.current-catalog-link .catalog-icon {
  fill: #fff;

}

.current-catalog-link:hover {
  background: #FF4A78;
  opacity: 0.6;
}

.current-catalog-link:active {
  background: #FF4A78;
  opacity: 0.3;
}

.current-catalog-link:focus-visible {
  background: #FF4A78;
  border: 2px solid #000000;
  border-radius: 30px;

}

.main-menu {
  padding: 8px 0;
}

.main-menu:hover .sub-menu {
  display: flex;
  flex-direction: column;
}

.sub-menu {
  padding: 0;
  margin: 0;
  display: none;
  padding-top: 8px;
  padding-bottom: 8px;
  position: absolute;
  background: #FCFCFC;
  border-radius: 4px;
  list-style: none;
  margin-top: 8px;
  max-width: 135px;
  z-index: 1;
}

.sub-menu-link {
  font-size: 14px;
  line-height: 20px;
  display: block;
  text-decoration: none;
  color: inherit;
  padding-left: 15px;
  padding-right: 10px;
  padding-top: 6px;
  padding-bottom: 6px;
}

.active-catalog-link {
  position: relative;
  font-weight: bold;
  margin-bottom: 10px;
  pointer-events: none;
}

.active-catalog-link::after {
  position: absolute;
  left: 13px;
  top: 22px;
  content: url(../img/icons/sub-menu-line.svg);
  width: 104px;
  height: 1px;
}

.sub-menu-link:hover {
  background: #FFCBD8;
}

.sub-menu-link:active {
  background: #FF7799;
}

/* Navigation Icons */

.navigation-icon {
  position: absolute;
  fill: #2D3440;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.navigation-link-login {
  position: relative;
  padding-left: 35px;
  padding-right: 15px;
  font-size: 14px;
  line-height: 20px;
  background: rgba(252, 252, 252, 0.3);
  border-radius: 30px;
  margin-left: 16px;
  border: 2px solid transparent;
}

.navigation-search-link {
  background: rgba(252, 252, 252, 0.3);
  border-radius: 27px;
  display: block;
  padding: 15px;
  border: 2px solid transparent;
}

.navigation-search:active {
  background: #FCFCFC;
}

.navigation-search-link:hover {
  background: rgba(252, 252, 252, 0.5);
}

.navigation-search-link:focus-visible {
  background: rgba(252, 252, 252, 0.5);
  border: 2px solid #2D3440;
  border-radius: 27px;
  outline: none;
}

.navigation-user-link:active {
  outline: 2px solid transparent;
  background-color: rgba(252, 252, 252, 1);
}

.popover-search-wrapper {
  position: absolute;
  display: none;
  right: 5px;
  top: 52px;
  width: 356px;
  padding: 24px 16px;
  background: #FCFCFC;
  border-radius: 4px;
  box-sizing: border-box;
  z-index: 1;
}

.popover-search .field {
  width: 324px;
  font: inherit;
  font-family: 'Inter';
}

.navigation-search-item {
  position: relative;
  padding-top: 8px;
  padding-bottom: 8px;
}

.navigation-search-item:hover .popover-search-wrapper {
  display: block;
}

.navigation-link-login .navigation-icon {
  right: auto;
  left: 14px;
  margin: auto 0;
}

.navigation-link-login:hover {
  background: rgba(252, 252, 252, 0.5);
}

.navigation-link-login:active {
  background: #FCFCFC;
}

.navigation-link-login:focus-visible {
  background: rgba(252, 252, 252, 0.5);
  border: 2px solid #000000;
  outline: none;
}

.navigation-login-item {
  padding-top: 8px;
  padding-bottom: 8px;
}

.navigation-login-item:hover .popover-login-wrapper {
  display: block;
}

.popover-login-wrapper {
  position: absolute;
  display: none;
  right: 500px;
  top: 75px;
  width: 420px;
  background: #FCFCFC;
  border-radius: 4px;
  box-sizing: border-box;
  z-index: 1;
}

.popover-login-content {
  padding: 48px;
}

.popover-login-title {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  padding-bottom: 32px;
  font-family: 'Inter', sans-serif;
}

.popover-field {
  width: 324px;
  margin-bottom: 16px;
}

.popover-field:nth-child(2) {
  margin-bottom: 32px;
}

.popover-wrapper {
  display: flex;
  gap: 23px;
}

.popover-link {
  display: flex;
  flex-direction: column;
  color: #2D3440;
  text-decoration: none;
  border-bottom: 1px solid #2D3440;
}

.popover-link:nth-child(2) {
  width: 90px;
}

.popover-empty-basket {
  display: none;
}

.navigation-basket-item {
  padding-top: 8px;
  padding-bottom: 8px;
}

.navigation-basket-item:hover .popover-full-basket {
  display: block
}

.popover-full-basket {
  position: absolute;
  display: none;
  width: 441px;
  background: #FCFCFC;
  border-radius: 4px;
  box-sizing: border-box;
  z-index: 1;
  top: 75px;
  right: 370px;
}

.popover-cart-items {
  list-style: none;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid #E7E7E7;
}

.cart-item {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.cart-image {
  margin-right: 16px;
}

.cart-text-wrapper {
  margin-right: 75px;
}

.cart-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
  width: 100px;
}

.cart-text {
  font-size: 14px;
  line-height: 20px;
  color: #B9B9B9;
  margin: 0;
}

.cart-price {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  margin-right: 40px;
}

.popover-close-button {
  position: absolute;
  top: 131px;
  right: 50px;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.cart-item .popover-close-button {
  padding: 8px;
  background-image: url("../img/icons/popover-close-button.svg");
  margin: auto;
  border: none;
  background-color: #FCFCFC;
}

.popover-second-button {
  position: absolute;
  top: 213px;
  right: 50px;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.cart-item .popover-second-button {
  padding: 8px;
  background-image: url("../img/icons/popover-close-button.svg");
  margin: auto;
  border: none;
  background-color: #FCFCFC;
}

.modal-close-button {
  position: absolute;
  top: 30px;
  right: 36px;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.modal-close-button {
  padding: 8px;
  background-image: url("../img/icons/popover-close-button.svg");
  margin: auto;
  border: none;
  background-color: #FCFCFC;
}

.popover-confirm {
  margin-top: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.popover-button {
  width: 135px;
}

.cart-confirm-price {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}

/* Разметка для пустой корзины */

/* .popover-empty-basket {
  position: absolute;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  display: none;
  right: 5px;
  top: 52px;
  width: 288px;
  background: #FCFCFC;
  border-radius: 4px;
  box-sizing: border-box;
  z-index: 1;
}

.popover-basket-text {
  padding: 45px 0;
  margin: 0;
}

.empty-basket {
  position: relative;
  padding-top: 8px;
  padding-bottom: 8px;
}

.empty-basket:hover .popover-empty-basket {
  display: block;

} */


/* Buttons */

.button {
  display: inline-block;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: inherit;
  text-decoration: none;
  padding: 12px 32px;
  background-color: #FCFCFC;
  outline: 4px solid rgba(252, 252, 252, 0.4);
  border-radius: 26px;
  border: 2px solid transparent;
}

.special-button {
  background: #FF2F64;
  color: #FCFCFC;
  outline: 4px solid rgba(255, 47, 100, 0.3);
}

.form-confirm-button {
  font-size: 14px;
  line-height: 20px;
  background: rgba(252, 252, 252, 0.3);
  border: 2px solid #FCFCFC;
  border-radius: 20px;
  padding: 8px 53px;
  outline: none;
  font-weight: 700;
  margin-top: 25px;
  align-self: center;
}

.form-confirm-button:hover {
  background-color: rgba(252, 252, 252, 0.4);
}

.button:hover {
  background-color: rgba(252, 252, 252, 0.4);
  outline: 4px solid #FCFCFC;

}

.button:active {
  background-color: #FCFCFC;
  border: 2px solid #2D3440;
  outline: none;
}

.button:focus-visible {
  background-color: rgba(252, 252, 252, 0.5);
  border: 2px solid #2D3440;
  outline: none;
}

.button:disabled {
  background: #E7E7E7;
  outline: 4px solid rgba(252, 252, 252, 0.4);
}

.special-button:hover {
  color: #2D3440;
  background: rgba(252, 252, 252, 0.3);
  outline: 4px solid #FF2F64;
}

.special-button:active {
  background: #FEAFC3;
  border: 2px solid #2D3440;
  color: #FCFCFC;
  outline: none;
}

.special-button:focus-visible {
  color: #FCFCFC;
  background: #FF2F64;
  border: 2px solid #2D3440;
}

.special-button:disabled {
  color: #565C66;
  background: #B9B9B9;
  outline: 4px solid rgba(185, 185, 185, 0.3);
}

/* Main */

.main-container {
  flex-grow: 1;
}

.page-container {
  width: 1170px;
  margin: 0 auto;
}

/* section .slider */

.slider {
  margin-bottom: 80px;
}

.slider-block {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
}

.slider-block p {
  margin: 0;
  padding: 0;
  margin-bottom: 44px;
}

.slider-item {
  display: grid;
  grid-template-columns: 470px 348px 282px;
  align-items: center;
  padding-left: 70px;
}

.slider-block li:not(.active-slide) {
  display: none;
}

.slider-control-items {
  display: block;
}

.slider-item-title {
  margin: 0;
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
  margin-bottom: 28px;
}

.slider-item p {
  font-size: 18px;
  line-height: 24px;
  width: 430px;
  margin-bottom: 50px;
}


/* Slider Button */

.slider-button {
  padding: 18px;
  background: rgba(252, 252, 252, 0.3);
  border-radius: 26px;
  border: 2px solid #FCFCFC;
  cursor: pointer;
  position: relative;
}

.slider-button-icon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  fill: #FCFCFC;
}

.slider-next {
  transform: rotate(180deg);
}

.slider-button:hover .slider-button-icon {
  fill: #2D3440;
}

.slider-button:hover {
  background-color: #FFFFFF;
}

.slider-button:active {
  background: rgba(252, 252, 252, 0.5);
  border: 2px solid rgba(252, 252, 252, 0.1)
}

.slider-button:active .slider-button-icon {
  fill: #2D3440;
}

.slider-button:focus-visible {
  border: 2px solid #2D3440;
  outline: none;
}

.slider-button:focus-visible .slider-button-icon {
  fill: #2D3440;
}

.slider-button:disabled {
  background: rgba(252, 252, 252, 0.3);
  border: 2px solid rgba(252, 252, 252, 0.5);
}

.slider-button:disabled .slider-button-icon {
  fill: rgba(252, 252, 252, 0.5)
}

.slider-pagination {
  list-style: none;
  display: flex;
  gap: 6px;
  margin: 0;
  padding: 0;
}

.slider-navigation {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.slider-pagination-button {
  width: 11px;
  height: 13px;
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 100px;
  border: 1px solid transparent;
  cursor: pointer;
}

.slider-pagination-button-current {
  background-color: rgba(252, 252, 252);
}

.slider-pagination-button:hover {
  border: 1px solid #FCFCFC;
}

.slider-pagination-button:active {
  background: #FCFCFC;
}

.slider-pagination-button:focus-visible {
  border: 1px solid #2D3440;
  outline: none;
}


.slider-main-wrapper {
  margin-left: 10px;
}

.slider-main-wrapper::before {
  content: "";
  background-color: #FFCBD8;
  width: 312px;
  height: 312px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
  border-radius: 50%;
}

.slider-image {
  display: block;

}

.slider-wrapper {
  position: relative;
  width: 630px;
  padding: 10px;
}

.slider-images-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.slider-image-preview {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 12px;
}

.slider-image-preview::before {
  content: "";
  background-color: #FFCBD8;
  opacity: 0.4;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
  border-radius: 50%;
}

.slider-controls {
  position: absolute;
  top: 50%;
  left: 46%;
  width: 355px;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  ;
}

.social-list {
  list-style: none;
  display: flex;
  gap: 12px;
  padding: 0;
  margin: 0;
}

.social-icon {
  min-width: 24px;
  height: 24px;
  color: #FFFFFF;
  border-radius: 24px;
  outline: 2px solid rgba(252, 252, 252, 0.3);;
}

.social-button circle{
  color: transparent;
}

.social-button:hover circle{
  color: #2D3440;
}

.social-button:active {
  opacity: 0.5;
}

.social-button:focus-visible circle {
  border: 2px solid #2D3440;;
}


/* section .special */

.special {
  margin-bottom: 80px;
}

.special-title {
  text-align: center;
  width: 570px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.special-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}

.special-item {
  background-color: #FF7799;
  border-radius: 16px;
  width: 570px;
  display: grid;
  grid-template-columns: 351px 219px;
}

.special-item-title {
  margin: 0;
  padding-top: 36px;
  padding-bottom: 13px;
  font-size: 24px;
  line-height: 30px;
}

.special-item-text {
  padding-left: 35px;
}

.special-item-info {
  margin-bottom: 28px;
  width: 328px;
}

.special-item-image img {
  vertical-align: middle;
}

/* section .products */

.products {
  margin-top: 40px;
  margin-bottom: 40px;
}

.product-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.product-item {
  background: #FCFCFC;
  border-radius: 8px;
}

.product-subtitle {
  font-size: 20px;
  line-height: 24px;
  margin: 0;
}

.product-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.product-item {
  position: relative;
  padding-top: 100px;
  margin-top: 70px;
  display: flex;
  flex-direction: column;
}

.product-item img {
  position: absolute;
  top: -55px;
  left: 50px;
}

.product-subtitle {
  margin-top: 30px;
  margin-bottom: 10px;
}

.product-info {
  margin: 0 auto;
  margin-bottom: 16px;
  width: 190px;
}

.product-wrapper {
  display: flex;
  width: 190px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.basket-button {
  width: 30px;
  height: 30px;
  border-radius: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #FF2F64;
  border: 2px solid transparent;
}

.basket-icon {
  fill: #FCFCFC;
}

.basket-button:hover {
  background-color: #FFFFFF;
  border: 2px solid #FF2F64;

}

.basket-button:hover .basket-icon {
  fill:#2D3440;
}

.basket-button:active {
  background: #FFCBD8;
  border: 2px solid #FF2F64;
}

.basket-button:active .basket-icon {
  fill:#2D3440;
}

.basket-button:focus-visible {
  background: #FF2F64;
  border: 2px solid #2D3440;
}

.basket-button:disabled {
  background: #B9B9B9;
}

.basket-button:disabled .basket-icon {
  fill:#565C66;
}

.product-item {
  width: 270px;
  text-align: center;
  margin-bottom: 25px;
}

.product-title {
  width: 600px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 40px;
}

.product-price {
  font-size: 20px;
  line-height: 24px;
}

/* section .advantages */

.advantages {
  margin-bottom: 80px;
  background: url(../img/bg-advantages.png);
  padding: 24px;
  background-size: cover;
  border-radius: 20px;
}



.advantages-list {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  column-gap: 32px;
  row-gap: 8px;
  align-items: center;
  padding-bottom: 40px;
  width: 1042px;

}

.advantages-item {
  width: 505px;
}

.advantages-item-wrapper {
  display: flex;
  align-items: center;
}

.advantages-text-wrapper {
  background: #FFFFFF;
  border-radius: 16px;
}

.advantages-icon-wrapper {
  width: 32px;
  height: 32px;
  margin-right: 16px;
  margin-top: 15px;
  border: 2px solid #2D3440;
  padding: 6px;
  border-radius: 50px;
  flex-shrink: 0;
  align-self: flex-start;
}

.advantages-title {
  margin: 0 auto;
  text-align: center;
  padding-bottom: 40px;
  padding-top: 55px;
}

/* section .blog */

.blog {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
  align-content: center;
  column-gap: 30px;

}

.blog-news {
  width: 570px;
  padding-left: 32px;
  padding-top: 16px;
  background: url(../img/bg-block.jpg) no-repeat;
  background-size: cover;
  border-radius: 16px;
  box-sizing: border-box;
}

.blog-article-info {
  width: 303px;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  margin-top: 12px;
  padding-right: 235px;
  padding-bottom: 45px;
}

.blog-form {
  width: 570px;
  background-image: url(../img/blog-bg.png);
  background-size: cover;
  border-radius: 16px;
  padding: 6px;
}

.blog-info {
  padding-bottom: 27px;
  width: 506px;
}

.blog-news-wrapper {
  padding: 11px;
  padding-left: 26px;
  background: #FFFFFF;
  border-radius: 16px;

}

.blog-news-form {
  padding-bottom: 16px;
}

.blog-article-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 0;
}

.field {
  height: 48px;

  border-radius: 4px;
  border: none;
  outline: 1px solid #B9B9B9;
  color: #2D3440;
  padding-left: 16px;
  box-sizing: border-box;
}

.blog-news-form .field {
  width: 330px;
  margin-right: 15px;
}

.blog-news a {
  text-decoration: none;
  color: inherit;
}

/* section .delivery */

.delivery {
  display: flex;
  justify-content: space-between;
  background: url(../img/bg-delivery.jpg) no-repeat;
  background-size: cover;
  border-radius: 16px;
  margin-bottom: 80px;
  align-items: center;
}

.delivery-block {
  width: 400px;
  padding: 55px;
  padding-left: 100px;
}

.delivery-block-title {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  margin: 0;
  padding-bottom: 10px;
  padding-top: 15px;
}

.form-wrapper {
  width: 500px;
  margin: 64px;
  background-color: #FCFCFC;
  box-sizing: border-box;
  box-shadow: 0 15px 40px rgba(45, 52, 64, 0.12);
  border-radius: 8px;
  padding: 40px;
}

.delivery-text-info {
  width: 380px;
  margin: 0;
  padding-bottom: 20px;
  padding-right: 80px;
}

.delivery-form {
  display: flex;
  flex-direction: column;
}

.delivery-form-wrapper {
  width: 420px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.delivery-form-date {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  margin-right: 16px;
}

.delivery-form-date .field {
  width: 117px;
}

.delivery-text {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  position: relative;
}

.tooltip-icon {
  fill: #2D3440;
  position: absolute;
  top: 4px;
  left: 45px;
}

.delivery-text:hover .tooltip-data-text {
  display: block;
}

.tooltip-data-text {
  padding: 10px 8px;
  background-color: #FCFCFC;
  border: 1px solid #B9B9B9;
  box-shadow: 0 4px 8px rgba(194, 194, 194, 0.2);
  border-radius: 1px;
  position: absolute;
  color: #2D3440;
  font-size: 14px;
  line-height: 17px;
  font-weight: normal;
  text-transform: none;
  left: 70px;
  top: -10px;
  width: 160px;
  z-index: 1;
  margin-bottom: 6px;
  display: none;
}

.delivery-text:hover .tooltip-address-text {
  display: block;
}

.tooltip-address-text {
  padding: 10px 8px;
  background-color: #FCFCFC;
  border: 1px solid #B9B9B9;
  box-shadow: 0 4px 8px rgba(194, 194, 194, 0.2);
  border-radius: 1px;
  position: absolute;
  color: #2D3440;
  font-size: 14px;
  line-height: 17px;
  font-weight: normal;
  text-transform: none;
  left: 80px;
  top: -10px;
  width: 160px;
  z-index: 1;
  margin-bottom: 6px;
  display: none;
}

.tooltip-adress-icon {
  fill: #2D3440;
  position: absolute;
  top: 3px;
  left: 55px;
}

.delivery-form-phone .field {
  width: 287px;
}

.delivery-form-phone {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.delivery-form-address {

  display: flex;
  flex-direction: column;
  row-gap: 8px;
  column-gap: 16px;
}

.delivery-form-address .field {
  width: 420px;
  margin-bottom: 18px;
}

.delivery-form .field {
  font: inherit;
}

.delivery-form button {
  max-width: 152px;
  align-self: center;
}

/* section .contacts */

.contact-address {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.phone-calls-special {
  font-size: 14px;
  line-height: 20px;
}

.address {
  background: url(../img/bg-contact-form.jpg) no-repeat;
  border-radius: 16px;
  padding: 60px;
  background-size: cover;
}

.contacts {
  width: 265px;
  background-color: #FCFCFC;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 8px 16px rgba(45, 52, 64, 0.12);
}

.address-info {
  width: 180px;
  margin: 0;
  margin-bottom: 15px;
}

.address-phone {
  margin: 0;
  margin-top: 24px;
  margin-bottom: 12px;
}

.phone-calls {
  color: inherit;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
}

.phone-calls-special {
  margin-top: 0;
  margin-bottom: 32px;
}

/* footer */

.page-footer-wrapper {
  width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  padding: 42px 14px 45px 4px;
}

.social-list-footer {
  justify-content: flex-start;
  padding: 0;
  margin: 0;
  width: 250px;
}

.footer-links {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  margin-right: 150px;
  margin-left: 190px;
}

.footer-links-item {
  margin-right: 24px;
  width: 130px;
}

.footer-links-item:last-child {
  width: 182px;
}

.link-special {
  margin-left: -25px;
  padding-left: 25px;
  position: relative;
}

.link-special::before {
  position: absolute;
  left: 0;
  top: 1px;
  content: url(../img/icons/heart.svg);
  width: 14px;
  height: 14px;
}

.footer-links a {
  color: inherit;
  text-decoration: none;
}

.creators {
  display: flex;
  flex-direction: column;
  width: 205px;
}

.creators-info {
  font-size: 12px;
  line-height: 16px;
}

.creators-info a {
  color: inherit;
}

/* Catalog */

.catalog-container {
  width: 1170px;
  margin: 0 auto;
}

/* Breadcrumbs */

.breadcrumbs-link {
  text-decoration: none;
  color: inherit;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}

.breadcrumbs {
  padding: 0;
  margin: 0;
  display: flex;
  list-style: none;
  margin-top: 10px;
}

.breadcrumbs-item {
  position: relative;
  margin-right: 28px;
}

.breadcrumbs-item::after {
  content: "";
  position: absolute;
  top: 9px;
  right: -18px;
  width: 7px;
  height: 6px;
  background-image: url(../img/icons/arrow-right.svg);
}

.breadcrumbs-item:last-child::after {
  content: none;
}

.sub-navigation {
  display: flex;
  justify-content: space-between;
  padding: 26px 0 38px 0;
  align-items: center;
  padding-bottom: 45px;
  border-bottom: 1px solid rgba(252, 252, 252, 0.3);
}

.pagination-prev {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 20px;
  height: 20px;
}

.catalog-button {
  margin-left: 500px;
}

.pagination {
  display: flex;
  margin: 0;
}

.active-link {
  border-bottom: 1px solid #2D3440;
}

/* Catalog Form */

form {
  font-size: 14px;
  line-height: 20px;
}

fieldset {
  border: none;
}

fieldset select,
fieldset ul {
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 20px;
  padding: 8px 16px;
  border: none;
}

.catalog-page-footer {
  margin-top: 35px;
}


/* Catalog pagination */

.pagination {
  list-style: none;
}

.pagination-link {
  text-decoration: none;
  color: inherit;
  text-align: center;
  display: block;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
  padding-top: 2px;
  border-radius: 50%;
}

.pagination-prev svg {
  padding-top: 3px;
}

.pagination-item:first-child {
  margin-right: 5px;
}

.pagination-item:last-child {
  margin-left: 5px;
}

.pagination-nex svg {
  padding-top: 3px;
}

.pagination-link:hover {
  background-color: rgba(252, 252, 252, 0.3);
  box-shadow: inset 0 0 0 1px #fcfcfc;
}

.pagination-link:active,
.pagination-link:focus {
  background-color: rgba(252, 252, 252, 0.3);
  box-shadow: inset 0 0 0 1px #2d3440;
  outline: none;
}

.pagination-current {
  background: #FCFCFC;
  border-radius: 50px;
}

.creators img {
  display: block;
}


/* Fields */

.field:hover {
  outline: 1px solid #2D3440;
}

.field::placeholder {
  color: #B9B9B9;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.field:focus-visible {
  outline: 2px solid #2D3440;
}

.field:disabled {
  background-color: #E7E7E7;
  outline: 1px solid #B9B9B9;
  color: rgba(45, 52, 64, 0.65);
}






/* Catalog Form */

.catalog-filter {
  margin-bottom: 25px;
  row-gap: 16px;
}

.catalog-filter-group {
  margin-right: 24px;
}

fieldset {
  padding: 0;
  margin: 0;
}

.catalog-filter-select {
  width: 100%;
  padding: 8px 20px 8px 15px;
  padding-right: 66px;
  font: inherit;
  background: rgb(99%, 99%, 99%, 0.3);
  border-radius: 20px;
  background-image: url("img/icons/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: right 16px center;
  appearance: none;
}

.catalog-filter-title {
  padding-left: 14px;
  margin-bottom: 8px;
}

.catalog-filter-select:hover {
  background: rgb(99%, 99%, 99%, 0.5);
  background-image: url("/img/icons/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: right 16px center;
}

.catalog-filter-select:focus-visible {
  background: rgba(252, 252, 252, 0.4);
  background-image: url("/img/icons/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: right 16px center;
  outline: 2px solid rgba(252, 252, 252, 1);
  border: none;
}

.current-link {
  background: #FF4A78;
  color: #FCFCFC;
}

.current-link:hover {
  background: #FFCBD8;
  color: #2D3440;
}

.main-header-title {
  margin: 16px 0 40px 0;
}

.catalog-filter {
  display: flex;
  flex-wrap: wrap;
  width: 900px;
}

.catalog-filter-range {
  width: 196px;
  margin-right: 24px;
}

.range-scale {
  width: 164px;
  position: relative;
  height: 2px;
  background-color: rgba(86, 92, 102, 0.3);
  ;
  border-radius: 2px;
}

.range {
  padding: 16px 16px 17px 16px;
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 20px;
}

.range-bar {
  position: absolute;
  height: 2px;
  background-color: #565C66;
}

.range-toggle {
  position: absolute;
  width: 16px;
  height: 16px;
  background: #2D3440;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.range-toggle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border-radius: 50%;
  background: #FCFCFC;
  width: 4px;
  height: 4px;
}

.range-toggle:hover {
  background: #FCFCFC;
}

.range-toggle:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border-radius: 50%;
  background-color: #2D3440;
  width: 4px;
  height: 4px;
}

.range-toggle:active {
  background: #2D3440;
}

.range-toggle:focus-visible {
  background-color: #FCFCFC;
  outline: 2px solid #2D3440;
}

.range-toggle:focus-visible::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border-radius: 50%;
  background-color: #2D3440;
  width: 4px;
  height: 4px;
}

.toggle-min {
  top: -7px;
  left: -4px;
}

.toggle-max {
  top: -7px;
  right: -1px;
}

.range-wrapper-inputs {
  display: flex;
}

.catalog-filter-label {
  display: flex;
}

.range-input {
  width: 27px;
  padding: 0 4px;
  color: #2D3440;
  font: inherit;
  text-align: center;
  background-color: transparent;
  border: none;
  appearance: textfield;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.range-input:focus-visible {
  outline: 1.3px solid #FCFCFC;
}

.catalog-filter-list {
  margin: 0;
  list-style: none;
  display: flex;
  padding: 8px 20px;
}

.catalog-filter-item {
  padding-right: 15px;
}

.catalog-filter-item:first-child {
  padding-left: 4px;
}

.catalog-filter-item:last-child {
  padding-right: 10px;
}

.control {
  position: relative;
  padding-left: 24px;
}

.control-mark {
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -8px;
}

.fat-content-label .control-mark {
  border: 1.3px solid #2d3440;
  border-radius: 50%;
  width: 14px;
  height: 14px;
}

.fat-content-label .control-mark:hover .control-mark {
  border: 1.3px solid #FCFCFC;
}

.control-input:focus-visible+.control-mark {
  border: 1.3px solid #2D3440;
  background-color: #FCFCFC;
}

.control-input:disabled+.control-mark {
  opacity: 0.5;
  border: 1.3px solid #2D3440;
}

.control-input[type="radio"]+.control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked+.control-mark::before {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 6px;
  height: 6px;
  background-color: #2D3440;
  border-radius: 50%;
  content: "";
}

.catalog-filter-group[type="radio"] .control-mark {
  width: 16px;
  height: 16px;
  background-color: transparent;
  border: 1.3px solid #2D3440;
  border-radius: 50%;
  box-sizing: border-box;
}

.catalog-filter-group .control-mark:hover {
  border: 1.3px solid #FCFCFC;
}

.catalog-filter-group .control-input:disabled .control-mark {
  opacity: 0.4;
}

.control-input:disabled+.control-mark {
  opacity: 0.5;
  border: 1.3px solid #2D3440;
}

.filter-fillers-label .control-mark {
  width: 16px;
  height: 16px;
  background-image: url("../img/icons/checkbox-unchecked.svg");
}

.control-input[type="checkbox"]:checked + .control-mark {
  background-image: url("../img/icons/catalog-check.svg");
}

.filter-fillers-label:hover .control-mark {
  background-image: url("../img/icons/checkbox-unchecked-hover.svg");

}

.control-input[type="checkbox"]:checked:hover + .control-mark {
  background-image: url("../img/icons/catalog-check-hover.svg");
}

/*
.control-input[type="checkbox"]:checked + .control-mark::before,
.control-input[type="checkbox"]:checked + .control-mark::after {
  position: absolute;
  left: 0;
  width: 16px;
  height: 16px;
  content: url(../img/icons/catalog-check.svg);
}

 .modal-container {
  width: 100%;
  height: 100%;
  background: #FCFCFC;
  box-shadow: 0 15px 40px rgba(45, 52, 64, 0.12);
  border-radius: 8px;
  position: fixed;
  background-color: rgba(45, 52, 64, 0.3);
  left: 0;
  top: 0;
  display: none;
}

.modal-container.open {
  display: initial;
}

.modal-block {
  display: flex;
  flex-direction: column;
  justify-content: start;
  position: absolute;
  margin: auto;
  background-color: #FCFCFC;
  padding: 64px;
  width: 442px;
  top: 10%;
  left: 35%;
  box-shadow: 0 15px 40px rgba(45, 52, 64, 0.12);
  border-radius: 8px;
}

.modal-textarea {
  resize: none;
  font-family: "Inter", sans-serif;
  min-height: 149px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #2D3440;
  padding: 14px 16px;
  width: 442px;
  border-radius: 4px;
  border: none;
  outline: 1px solid #B9B9B9;
  background-color: #FFFFFF;
  margin-bottom: 32px;
}

.modal-field {
  width: 442px;
  margin-bottom: 16px;
  font-family: 'Inter', sans-serif;
}

.modal-button {
  justify-content: flex-start;
}

.button-modal-wrapper {
  display: flex;
  justify-content: flex-end;
}
